* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* gestione fonts */
body {
    font-size: $font_size_base;
    font-family: $font_lato;
    color: $brown;

    h1 {
        font-size: 2.8em;
    }

    h2 {
        font-size: 1.2em;
        font-weight: 400;
    }

    h3 {
        font-size: 1.3em;
    }

    h5 {
        font-size: 1.2em;
    }
}
/* END gestione fonts */

/* gestione posizionamento */
.ms-wrapper {
    width: 90%;
    margin: 0 auto;
}

h1,
h2,
h3,
h5,
.ms-button-margins {
    margin-bottom: 20px;
}

.ms-sign-up-by-email-margins {
    margin: 5px 0;
}

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.flex-end {
    justify-content: flex-end;
}

.space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
/* END gestione posizionamento */

/* gestione buttons */
.ms-button-google-big-white {
    padding: 10px;
    border: 2px solid $blue;
    color: $blue;
    
    img {
        width: 2em;
        padding-right: 10px;
    }
    
    &:hover {
        box-shadow: 0 0 1px 1px;
        background-color: $lightblue;
    }
}

.ms-button-blue {
    padding: 5px 10px;
    background-color: $blue;
    color: $white;
    display: inline-block;
    
    img {
        width: 1.8em;
        padding-right: 10px;
        display: inline-block;
    }
    
    &:hover {
        background-color: $darkblue;
    }
}

.ms-button-google-big-white,
.ms-button-blue {
    @include border-radius(5px);
}

.ms-sign-up-by-email {
    p {
        margin: 0 5px 5px 0;
        display: inline-block;
    }

    &:hover {
        font-weight: 700;
    }
}

.ms-learn-more-button {
    color: $blue;
    margin: 20px 0;

    p {
        display: inline-block;
    }

    &:hover {
    font-weight: bold;
    }
}

.header-logo,
.ms-button-google-big-white,
.ms-button-blue,
.ms-sign-up-by-email,
.ms-learn-more-button {
    cursor: pointer;
}
/* END gestione buttons */

/* gestione altri elementi */
li {
    list-style: none;
    text-transform: capitalize;
    font-weight: 700;
    cursor: pointer;

    &:hover {
        color: $blue;
    }
}
/* END gestione altri elementi */

/* gestione dimensioni blocchi */
.w-50 {
    width: 50%;
}
/* END gestione dimensione blocchi */