.background_primary {
    background-color: $brand_primary;
}

/* overview section */
.overview-before,
.overview-after,
.how-it-works-section,
.co-founders-section {
    padding: 40px 0;
}

.overview-section,
.co-founders-section {
    text-align: center;
}

.overview-before {
    border-bottom: 1px solid $brown;

    .before-img {
        width: 25%;
        padding: 40px 0;
    }
}

.overview-after {
    h3 {
        padding-top: 40px;
    }

    .after-img {
        width: 25%;
        padding: 40px 0;
    }
}

.overview-before-img-container,
.overview-after-img-container {
    width: 100%;

    .card {
        width: 30%;
        height: 200px;
        padding: 20px 0;

        img {
            height: 50%;
            margin-bottom: 20px;
        }
    }
}
/* END overview section */

/* how it works section */
.how-it-works-section {
    width: 100%;
    padding: 40px;

    .how-it-works-row {
        width: 100%;
        height: 500px;

        .left-side,
        .right-side {
            padding: 0 20px;
        }

        .big-image {
            height: 80%;
        }

        .text-container {
            img {
                width: 80%;
            }
        }
    }
}
/* END how it works section */
