.background_primary {
    background-color: $brand_primary;
}

/* overview section */
.overview-before,
.overview-after,
.how-it-works-section,
.co-founders-section {
    padding: 40px 0;
}

.overview-section,
.co-founders-section {
    text-align: center;
}

.overview-before {
    border-bottom: 1px solid $brand_color_font;

    .before-img {
        width: 25%;
        padding: 40px 0;
    }
}

.overview-after {
    h3 {
        padding-top: 40px;
    }

    .after-img {
        width: 25%;
        padding: 40px 0;
    }
}

.overview-before-img-container,
.overview-after-img-container {
    width: 100%;

    .card {
        width: 30%;
        height: 200px;
        padding: 20px 0;

        img {
            height: 50%;
            margin-bottom: 20px;
        }
    }
}
/* END overview section */

/* how it works section */
.how-it-works-section {
    width: 100%;
    padding: 40px;

    .how-it-works-row {
        width: 100%;
        height: 500px;

        .left-side,
        .right-side {
            padding: 0 20px;
        }

        .big-image {
            height: 80%;
        }

        .text-container {
            img {
                width: 80%;
            }
        }
    }
}
/* END how it works section */

/* co-founders section */
.co-founders-section {
    .title-with-icon,
    .happy-icon {
        display: inline-block;
    }

    .happy-icon {
        margin: 0 10px;
    }

    .co-founders-text-box {
        width: 700px;
        border: 2px solid $brand_secondary;
        background-color: $white;
        @include border-radius(10px);
        padding: 20px;
        margin: 60px 0;
        position: relative;

        p {
            text-align: justify;
            margin-bottom: 20px;
        }

        .co-founders-photos-box,
        .co-founders-info-box {
            text-align: left;
            display: inline-block;
        }

        .co-founders-photos-box {
            img {
                display: inline-block;
                margin-right: 10px;
            }
        }
        .co-founders-info-box {
            #names {
                color: $brand_secondary;
                margin-bottom: 5px;
            }
            p {
                margin-bottom: 0;
            }
        }

        #quotes-icon {
            font-size: 2em;
            color: $brand_secondary;
            position: absolute;
            top: -13px;
            left: -5px;
        }
    }
}
/* END co-founders section */
