/* colors */
$brand_primary: #ffe7d2; /* rosa */
$brand_secondary: #2c4792; /* blu */
$button_big_bgcolor_on_hover: #a6b4db; /* azzurro */
$button_small_bgcolor_on_hover: #1b316d; /* blu scuro */
$white: #ffffff; /* bianco */
$brand_color_font: #58402c; /* marrone */

/* font */
$font_size_base: 15px;
$font_lato: 'Lato', sans-serif;