/* colors */
$brand_primary: #ffe7d2;
$brand_secondary: #2c4792;
$button_big_bgcolor_on_hover: #a6b4db;
$button_small_bgcolor_on_hover: #1b316d;
$button_small_color_text: #ffffff;
$brand_color_font: #58402c;

/* font */
$font_size_base: 15px;
$font_lato: 'Lato', sans-serif;