/* colors */
$brand_primary: #ffe7d2;
$blue: #2c4792;
$lightblue: #a6b4db;
$darkblue: #1b316d;
$white: #ffffff;
$brown: #58402c;

/* font */
$font_size_base: 15px;
$font_lato: 'Lato', sans-serif;